.menu-bg{
    background: #1C1E53;
}
.menu-bg a{
    color:#BBBBCB;
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 500;
}
.menu-bg .but{
    padding: 16px;
}
.menu-bg .but button{
    color:#FFFFFF;
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 500;
     border-radius: 30px;
     padding: 16px 48px;
     background: transparent;
     border: 2px solid #F4F6FC33;
}