.lg{
    padding-bottom: 128px;
}
.na{
    display: flex;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 64px;    

    
}
.na h2{
    color: #282938;
    font-family: "Poppins", sans-serif;
     font-size: 48px;
     font-weight: 600;

}
.na a{
   color: #282938;
    font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 500;
     

}
.c-text{
    
   position: relative;
   
}
.text{
    background: #353e78d0;
     position: absolute;
     width: 53%;
     height: 100%;
     top: 0px;
     left: 0px;
     transform: scaleX(0);
     transform-origin: left;
     transition: 0.5s ;
     

    
}
.c-text:hover .text{
    height: 100%;
    transform: scaleX(1);
    transform-origin: left;
    
    
}
.text h4{
    color: #ffff;
    padding: 312px 35px 16px 48px;
    font-family: "Poppins", sans-serif;
     font-size: 24px;
     font-weight: 600;
}
.text p{
    color: #ffff;
    font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 500;
     padding: 0px 55px 0px 48px;
}
.text a{
    color: #FCD980;
    padding: 40px 208px 0px 150px;
}
.lg .ng{
    column-gap: 23px;
}
.lg .ng{
    width: 100;
}
.lg .rg .im2{
    width: 100;
    padding-left: 10px;
    padding-top: 32px;
}
.lg .ng{
    position: relative;
}
.lg .gh{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    overflow: hidden;
    left: 0;
    transform: scaleY(0);
    background: #353e78d0;
    transition: .5s linear;
    transform-origin: top;
}
.lg .ng:hover .gh{
    transform: scaleY(1);
    transform-origin: top;
    
}
.lg .gh h5{
     color: #ffff;
     font-family: "Poppins", sans-serif;
     width: 313px;
     line-height: 36px;
     font-size: 24px;
     font-weight: 600 !important;
      padding: 129px 36px 10px 56px;
     
}
.lg .gh a{
     color:#FCD980;
    font-family: "Poppins", sans-serif;
     font-size: 16x;
     font-weight: 500;
     padding: 0px 200px 45px 56px;
    
}