.bts .bg .bt a{
   text-decoration: none;
}
.bts{
    background: #1C1E53;
    padding-top: 126px;
}
.bts .bg h1{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
     font-size: 54px;
     font-weight: 600;
     
}
.bts .bg p{
    color: hwb(0 100% 0% / 0.708);
    font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 400;
     padding-top: 24px;
     padding-bottom: 48px;
}
.bts .bg .bt{
    color: hwb(0 100% 0% / 0.708);
    font-family: "Poppins", sans-serif;
     font-size: 18px;
     font-weight: 600;
     padding-bottom: 128px;
}
.bts .bt .bs{
    color: #FFFFFF !important;
    font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 500;
     padding-left: 40px;
     
}
.bts .bt .ba a{
    color: #1B1C2B !important;
    font-family: "Poppins", sans-serif;
     font-size: 18px;
     font-weight: 600;
     
}
.bts .bt .ba{
    background: #FCD980;
    padding: 16px 56px;
    border-radius: 41px;
    border: 2px solid black;
    transition: .5s;
}
.bts .bt .ba:hover{
    background: #FFFFFF;
}