.work-bg{
    padding: 128px 0px;
    background: #F4F6FC;
}
.work-bg .bss h2{
     color: #282938;
    font-family: "Poppins", sans-serif;
     font-size: 48px;
     font-weight: 600;

}
.work-bg .bss p{
     color: #282938;
    font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 400;
     padding: 16px 0px;
     width: 405px;

}
.work-bg .bsa{
      color: #2405F2;
    font-family: "Poppins", sans-serif;
     font-size: 18px;
     font-weight: 500;
}

.bns{
    color: #282938;
    font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 400;
     
}
.brs{
    color:#282938;
    font-family: "Poppins", sans-serif;
     font-size: 32px;
     font-weight: 500;
     
}