.nv{
    background: #1C1E53;
    padding: 16px;
}
.nv a{
    padding: 15px;
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    transition: .5s;
}
.nv a:hover{
    color: #ffff ;
     
}
.buton{
    background: transparent;
    padding: 16px 48px;
    color: #ffff;
    border: 1px solid #f4f6fc;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .5s;
}
.buton:hover{
    background: #FCD980;
    color: black;
    border: 1px solid #FCD980;
;
}
