.ts{
    background: #1C1E53;
    padding: 128px;
}
.ts .jpc p{
    color: #ffff;
    width: 399px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    padding-top: 24px;
}
.ts .ks h2{
    color: #ffff;
    width: 333px;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
}
.ts .ks p{
    color: rgba(255, 255, 255, 0.8);
    width: 399px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    padding: 14px 0px 28px;
}
.ts {
    position: relative;
}
.ts .qs{
    position: absolute;
    top: 100%;
    left: 16%;
    transform: translateY(-100%);
    background: #FCD980;
    padding: 17px 100px 16px 37px;
}
.ts .qs h4{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    
}
.ts .qs .ass{
    
    padding-left: 102px;
   
}
.ts .qs a{
    text-decoration: none;
     color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}
.ts .qs .ys{
    padding-left: 29px;
}
.ts .trb a{
    color: #ffff;
    padding: 10px;
}